<br/>
<h2>
  ShariahStandards.org Privacy Policy
</h2>

<ul>
	<ol>
		<li>
			Authentication - We rely on authentication information through Auth0.com and possiby from one of the following parties to extablish who you are:
			<ol>
				<li>facebook.com</li>
				<li>google.com</li>
				<li>microsoft.com</li>
			</ol>
		</li>
		<li>
			Sharing your information - we only give access to information we store about you to others strictly in accordance with the consent you give us to share it with them. 
		</li>
		<li>
			Liability - Although we take care to protect your information if you use our service, you cannot hold us liable for any deliberate violation of our policies done by others. The most we can do is exclude people who violate our policies from using our services.
		</li>
		<li>
			Transparency - We will provide you with all information we store about you on request except information that connects you to other users who have not consented to give you their details.
		</li>
		<li>
			Deletion - You are free at any time to delete your membership and all information held about you except for authentication information which we may have used to exclude you.
		</li>
	</ol>
</ul>
