<app-shurah-navigation [organisation-id]="organisationId"></app-shurah-navigation>
<p *ngIf="searchResultPages.length==0">
  loading...
</p>
<div class="container" *ngIf="searchResultPages.length>0" infinite-scroll (scrolled)="showMore()">
  <h2>Suggestions for {{searchResultPages[0].organisationName}}</h2>
  <span *ngIf="auth.authenticated()">
      <button (click)="openModalToAddSuggestion(addSuggestionModal)" title="Add suggestion">Add new suggestion*</button>
  </span>
  <div *ngIf="searchResultPages.length>0">
     	<span *ngIf="searchResultPages[0].suggestions.length==0">
    		No suggestions found.
    	</span>
    	<ul *ngIf="searchResultPages.length>0 && searchResultPages[0].suggestions.length>0">
        <ng-container *ngFor="let searchResults of searchResultPages">
        	<li *ngFor="let suggestion of searchResults.suggestions">
            From: <img [src]="suggestion.authorPictureUrl" title="author picture" width="50"/> {{suggestion.authorPublicName}}       On: {{formatDate(suggestion.dateTimeText)}} {{suggestion.netSupportPercent}}% Agreeing ({{suggestion.votingPercent}}% Voting)
            <a [routerLink]="'/suggestions/'+organisationId+'/details/'+suggestion.id"> <h4>{{suggestion.subject}}</h4></a> 
        	</li>
        </ng-container>
        <li *ngIf="lastPageShown<searchResultPages[0].pageCount">
          <button class="btn btn-default" (click)="showMore()"> show more </button>
        </li>
    	</ul> 
  </div>
</div>
<template #addSuggestionModal let-c="close" let-d="dismiss">
   <form>
      <div class="modal-header">
        <div class="modal-title">Add Suggestion</div>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" [(ngModel)]="addSuggestionModel.subject" required maxlength="100" id="subject" name="subject" class="form-control">
        </div>
      	<div class="form-group">
          <label for="suggestion">Suggestion</label>
          <textarea rows="2" required maxlength="1000"  id="suggestion" name="suggestion"
           class="form-control"
           col="100" [(ngModel)]="addSuggestionModel.suggestion">
          </textarea>
    	</div>
        <ul>
          <li class="error" *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="AddSuggestion()">Add</button>

        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      </div>
    </form>

</template>

