<h2>
  About Us
</h2>
<div class="notes">
	<p>
		We aim to set up a community of Muslims who work together to define and publish open global standards for Islamic Law. 
	</p>
	<p>
		Any Muslim can join this community and help develop and improve the standards that we publish on this website. Join up via <a href="https://groups.yahoo.com/neo/groups/shariahstandards/info" target="_new">https://groups.yahoo.com/neo/groups/shariahstandards/info</a>
	</p>
	<p>
		We hope people find this useful and that these standards become widely recognised and applied. 
	</p>
	<p>	
		The process of adopting these standards is up to each individual and organisation. 
	</p>
	<p>
		The standards may change over time. The content of this site are publically archived to ensure that any older standards can be located if needed (this can currently be found <a href="https://github.com/lamaan/angular2-salah-times" target="_new">here</a>).
	</p>
</div>