<div *ngIf="show">
	<div *ngIf="!shifted" class="keyboard">
		<div class="spacer1">&nbsp;</div>
		<div class="key" *ngFor="let key of keys.rows[0]" (click)="add(key)">{{key}}</div>
		<div class="backspaceKey" (click)="backspace()">
		<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
		</div>
		<div class="clear"></div>
		<div class="spacer2">&nbsp;</div>
		<div class="key" *ngFor="let key of keys.rows[1]" (click)="add(key)">{{key}}</div>
		<div class="clear"></div>
		<div class="spacer3">&nbsp;</div>
		<div class="key" *ngFor="let key of keys.rows[2]" (click)="add(key)">{{key}}</div>
		<div class="clear"></div>
		<div class="shiftKey" (click)="shift()">shift</div>
		<div class="spacer4">&nbsp;</div>
		<div class="key" *ngFor="let key of keys.rows[3]" (click)="add(key)">{{key}}</div>
	</div>
	<div *ngIf="shifted" class="keyboard">
		<div class="spacer1">&nbsp;</div>
		<div class="key" *ngFor="let key of keys.shiftedRows[0]" (click)="add(key)">{{key}}</div>
		<div class="backspaceKey" (click)="backspace()">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
		</div>
		<div class="clear"></div>
		<div class="spacer2">&nbsp;</div>
		<div class="key" *ngFor="let key of keys.shiftedRows[1]" (click)="add(key)">{{key}}</div>
		<div class="clear"></div>
		<div class="spacer3">&nbsp;</div>
		<div class="key" *ngFor="let key of keys.shiftedRows[2]" (click)="add(key)">{{key}}</div>
		<div class="clear"></div>
		<div class="shiftKey" (click)="shift()">shift</div>
		<div class="spacer4">&nbsp;</div>
		<div class="key" *ngFor="let key of keys.shiftedRows[3]" (click)="add(key)">{{key}}</div>
	</div>
</div>
