.spacer1{
	width: 0;
	float: left;
}
.spacer2{
	width:9%;
	float: left;

}
.spacer3{
	width: 11%;
	float: left;
}
.spacer4{
	width: 0;
	float: left;
}
.shiftKey{
	width:8%;
	float: left;
}
.backspaceKey{
	width:9%;
	float: left;
}
.key{
	width:7%;
	float: left;	
}
.clear{
	clear:both;
}
.keyboard{
	padding: 10px;
}
.keyboard .key,.keyboard .shiftKey,.keyboard .backspaceKey{
	padding:3px;
	font-size: 18pt;
	border-style: outset;
	border-width: 3px;
	border-color: #dddddd;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
}
