<h2>The Rules</h2>

<ol>
  <li>
    <ol>
      <h3>Site Management</h3>
      <li class="rule">
        Any <span term="Muslim">&nbsp;</span> is free to join as a member by joining our email discussion list: please visit <a href="https://groups.yahoo.com/neo/groups/shariahstandards/info" target="_blank">https://groups.yahoo.com/neo/groups/shariahstandards/info</a>
      </li>
      <li class="rule">
        All content that appears on this site is under the control of the webmaster of the website. 
      </li>
      <li class="rule">
        The webmaster can be replaced at any time by members demonstrating with an email petition to the discussion group that another member has the support of a majority of members to become the new webmaster.
      </li>
      <li class="rule">
        The webmaster must present the content of any proposed changes to the discussion forum at least 1 week  before making the changes to the site to give all members a chance to have their say on the changes. 
      </li>
    </ol>
  </li>
</ol>

