<h2>Shariah Standards Rules</h2>

<ol>
  <li id="website-management" (click)="toggleCollapse('website-management')" class="clickable">
    <h3>Website Management</h3>
    <ol *ngIf="expand('website-management')">
      <li class="rule">
        Any <span term="Muslim">&nbsp;</span> is free to join as a member by joining our email discussion list: please visit <a href="https://groups.yahoo.com/neo/groups/shariahstandards/info" target="_blank">https://groups.yahoo.com/neo/groups/shariahstandards/info</a>
      </li>
      <li class="rule">
        All content that appears on this site is under the control of the webmaster of the website. 
      </li>
      <li class="rule">
        The webmaster can be replaced at any time by members demonstrating with an email petition to the discussion group that another member has the support of a majority of members to become the new webmaster.
      </li>
      <li class="rule">
        The webmaster must present the content of any proposed changes to the discussion forum at least 1 week  before making the changes to the site to give all members a chance to have their say on the changes. 
      </li>
      <li>
        All website content version history including proposed new content will be available publically
        <a href="https://github.com/shariahstandards/shariahstandards.org">
          https://github.com/shariahstandards/shariahstandards.org
        </a>
      </li>
    </ol>
  </li>
  <li id="prayer-times-rules" (click)="toggleCollapse('prayer-times-rules')" class="clickable">
    <h3>Prayer Times and Direction</h3>
    <ol *ngIf="expand('prayer-times-rules')">
      <li>
        Standard prayer times are based on open source calculation algorithms for astronomical measures. In particular the following rules are applied:
        <ol>
          <li>
            There are adjustments for extreme latitudes to ensure that there are reasonable minimum and maximum times between the prayers. 
            <ol>
              <li>
              The time from the fajr prayer until the isha prayer does not exceed 20 hours.
              </li>
              <li>
              The time from sunrise to maghrib prayer time is at least 4 hours and is no more than 18 hours. 
              </li>
            </ol>
          </li>
          <li>
            Fajr and Isha prayer times without adjustments are based on the sun being 18 degrees below the horizon corresponding to astronomical dawn and astronomical night respectively.
          </li>
          <li>
            Times are rounded up to the nearest minute. 
          </li>
          <li>
            Asr times are based on two thirds of the way between zuhr and maghrib prayer times
          </li>
          <li>
            A new moon is considered visible if it is more than 1 day old
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li id="zakat-rules" (click)="toggleCollapse('zakat-rules')" class="clickable">
    <h3>Zakat Payment</h3>
    <ol *ngIf="expand('zakat-rules')">
      <li>
         Zakat is a centrally collected charitable donation for wealth redistribution which all Muslims are religously obliged to pay if they are wealthy enough. The following rules should be used to calculate the amount of zakat owed:
        <ol>
          <li>
            A Muslim is judged to be wealthy enough if they have sufficient assets to pay for their needs and the needs of their dependents for the following year. 
          </li>
         
          <li>
            The standard goods and services which may be purchased and everyone needs are:
            <ol>
              <li>Water and Sewage</li>
              <li>Food</li>
              <li>Clothing</li>
              <li>Shelter</li>
              <li>Fuel</li>
              <li>Communication</li>
              <li>Transportation</li>
            </ol>
          </li>
          <li>
            The costs of needs are defined by the median cost of the needed goods and services per person. This provides a periodically adjusted standard minimum wealth amount per person.  
          </li>
          <li>
            In addition to this some people may have special individual needs due to a disability or disease these can be added to calculate an individual's minimum wealth amount.  
          </li>
          <li>
            Each individual calculates a net wealth estimate. This should be an estimate of how much money would be available for distribution in inheritance if they died after all possessions were sold and all debts are settled and after deducting the individual's minimum wealth amount. 
          </li>
          <li>
            The amount of Zakat that should be paid is 1/40<sup>th</sup> of their net wealth estimate.
          </li>
          <li>
            Zakat should be calculated for noon GMT on the 15<sup>th</sup> of Ramadan each lunar year and paid immediately. 
          </li>
          <li>
             A dependent has the right to have their needs met by the person they depend upon. 
          </li>
          <li>
            If an individual has dependents. In this case, their minimum wealth amount is added to the minimum wealth amount of the person whom they are dependent upon and any assets they have are added to the assets of the person they depend upon in the calculation of net wealth estimates.
          </li>
        </ol>
      </li>
    </ol>
  </li>
</ol>