<h2> Inheritance Calculator </h2>
	<a [routerLink]="['/standards/inheritance-rules']">Details of the Standard</a>

<h3>Description of the deceased:</h3>
<div class="row">
	<div class="col-md-4">
		<div class="row">
			<div class="col-xs-3" *ngFor="let maritalStatus of marritalStatuses">
        		<div class="form-group">
					<label>{{maritalStatus.display}}
					<input type="radio" 
					class="form-control large-radio-control" 
					[value]="maritalStatus.value"
					[(ngModel)]="model.isMarried" 
					(ngModelChange)="setShares()"
					name="maritalStatus">
					</label>
				</div>
			</div>
			<div class="col-xs-3" *ngFor="let gender of genders">
        		<div class="form-group">
					<label>{{gender.display}}
					<input type="radio" 
					class="form-control large-radio-control" 
					[value]="gender.value"
					[(ngModel)]="model.isMale" 
					(ngModelChange)="setShares()"
					name="gender">
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Primary heirs</h3>
				<div class="row">
					<div class="col-xs-3">
						<div class="form-group">
							<label>Father</label>
							<input type="checkbox" [(ngModel)]="model.hasFather"
							class="form-control large-checkbox-control"  
							(ngModelChange)="setShares()"/>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label>Mother</label>
							<input type="checkbox" [(ngModel)]="model.hasMother" 
							class="form-control large-checkbox-control"
							(ngModelChange)="setShares()"/>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label>Sons</label>
							<input type="number" min="0" step="1" max="100" [(ngModel)]="model.numberOfSons" class="form-control"
							(ngModelChange)="setShares()"/>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label>Daughters</label>
							<input type="number" min="0" step="1" max="100" [(ngModel)]="model.numberOfDaughters" class="form-control"
							(ngModelChange)="setShares()"/>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="(model.numberOfDaughters+model.numberOfSons)>0">
					<div class="col-xs-6">
						<label>Were any of the sons and daughters dependent on the deceased?</label>
					</div>
					<div class="col-xs-3" *ngFor="let state of yesNoStates">
		        		<div class="form-group">
							<label>{{state.display}}
							<input type="radio" 
							class="form-control large-radio-control" 
							[value]="state.value"
							[(ngModel)]="model.hasDependentChildren" 
							(ngModelChange)="setShares()"
							name="childrenAreAdults">
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<h3>Other heirs</h3>
				<div class="row">		
				<div class="col-xs-6">
					<div class="form-group">
						<label>Brothers</label>
						<input type="number" min="0" step="1" max="100" [(ngModel)]="model.numberOfBrothers" class="form-control"
						(ngModelChange)="setShares()"/>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Sisters</label>
						<input type="number" min="0" step="1" max="100" [(ngModel)]="model.numberOfSisters" class="form-control"
						(ngModelChange)="setShares()"/>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<!-- <div class="row">
			
			<div class="col-xs-12">
				<template ngFor [ngForOf]="model.shares" let-share>
					<div [style.width]="share.share*100+'%'" class="block-share" 
						[style.background-color]="getColour(share)">
					</div>
				</template>
			</div>
		</div> -->
		<div class="pie-chart-holder">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				[style.width]="pieChartSize+'px'" [style.height]="pieChartSize+'px'">
				<template ngFor [ngForOf]="calculateSectors()" let-sector>
					<circle [attr.cx]="sector.L" [attr.cy]="sector.L" [attr.r]="sector.L" 
					[attr.fill]="sector.color" *ngIf="sector.percentage==1"/>

				   	<path xmlns="http://www.w3.org/2000/svg" *ngIf="sector.percentage!=1"
				   	 [attr.fill]="sector.color" 
				   	[attr.d]="'M' + sector.L + ',' + sector.L + ' L' + sector.L*2 +',' + sector.L + ' A' + sector.L + ',' + sector.L + ' 0 '+sector.largeArc+','+sector.arcSweep+' ' + sector.X + ', ' + sector.Y "
				   	[attr.transform]="'rotate(' + sector.R + ', '+ sector.L+', '+ sector.L+')'"
				   	/>
				
				</template>
		 	</svg>
	 	</div>
		<!-- <base-chart class="chart"
			           [data]="pieChartData"
			           [labels]="pieChartLabels"
			           [chartType]="pieChartType"
			           [options]="pieChartOptions"
			           [colors]="pieChartColors"
			           >
			    </base-chart> -->
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Shares</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Colour</th>
					<th>Relationship</th>
					<th>Share as percent</th>
					<th>Share as a fraction</th> 
				</tr>
			</thead>
			<tbody>
			<template ngFor [ngForOf]="model.shares" let-share>
				<tr>
					<td [style.background-color]="getColour(share)">
						&nbsp;
					</td>
					<td>
						{{share.relationshipToDeceased}}
					</td>
					<td>
						{{(share.share*100).toFixed(6)}} %
					</td>
					<td>
						{{share.fraction.top}} / {{share.fraction.bottom}}
					</td>
				</tr>
			</template>
			</tbody>
		</table> 
	</div>
</div>
<div *ngIf="overAllocationSituations.length>0">
<h3>All situation permutations</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th> Mother </th>
			<th> Father </th>
			<th> Sons</th>
			<th> Daughters</th>
			<th> Dependent Children</th>
			<th> Married </th>
			<th> Male </th>
			<th> Brothers </th>
			<th> Sisters</th>
			<th> % Allocated </th>
		</tr>
	</thead>
	<tbody>
		<template ngFor [ngForOf]="exampleSituations" let-situation>
			<tr>
				<td>
					<span *ngIf="situation.hasMother">Y</span>
					<span *ngIf="!situation.hasMother">N</span>
				</td>
				<td>
					<span *ngIf="situation.hasFather">Y</span>
					<span *ngIf="!situation.hasFather">N</span>
				</td>
				<td>
					{{situation.numberOfSons}}
				</td>
				<td>
					{{situation.numberOfDaughters}}
				</td>
				<td>
					<span *ngIf="situation.hasDependentChildren">Y</span>
					<span *ngIf="!situation.hasDependentChildren">N</span>
				</td>
				<td>
					<span *ngIf="situation.isMarried">Y</span>
					<span *ngIf="!situation.isMarried">N</span>
				</td>
				<td>
					<span *ngIf="situation.isMale">Y</span>
					<span *ngIf="!situation.isMale">N</span>
				</td>
				<td>
					{{situation.numberOfBrothers}}
				</td>
				<td>
					{{situation.numberOfSisters}}
				</td>
				<td>
					{{situation.allocatedShare.toPrecision(5)*100}} %
				</td>
			</tr>			
		</template>
	</tbody>
</table>	
</div>
			
