<nav *ngIf="organisation!=null">
  <a routerLinkActive="active-route" [routerLink]="'/rules/'+organisationId">
  	Rules
  </a>
  <a routerLinkActive="active-route" [routerLink]="'/terms/'+organisationId">
    Terminology
  </a>

  <a routerLinkActive="active-route" *ngIf="auth.isAuthenticated() && organisation && organisation.member!=null"  [routerLink]="'/members/'+organisationId">
  	Members
  </a>
  <a routerLinkActive="active-route" *ngIf="auth.isAuthenticated() && organisation && organisation.member!=null" [routerLink]="'/suggestions/'+organisationId">
  	Suggestions
  </a>
  <a routerLinkActive="active-route" *ngIf="hasPermission('AcceptMembershipApplication')" 
  	[routerLink]="'/membership-applications/organisation/'+organisationId">
  	Membership Applications
  </a>
</nav>