<app-shurah-navigation [organisation-id]="organisationId"></app-shurah-navigation>
<p *ngIf="searchResultPages.length==0">
  loading...
</p>
<div class="container" *ngIf="searchResultPages.length>0" infinite-scroll (scrolled)="showMore()">
	<h2>Members of {{searchResultPages[0].organisationName}}</h2>
	<div *ngIf="searchResultPages[0].members.length==0">
		No members found
	</div>
	<div *ngFor="let searchResults of searchResultPages">
		<div class="card" *ngFor="let member of searchResults.members">
			<div class="card-header">
				<a [routerLink]="'/members/'+organisationId+'/details/'+member.id">{{member.publicName}}</a>
			</div>
			<div class="card-block">
				<img width="100" [src]="member.pictureUrl" title="picture of member"/>
				<p>{{member.followers}} followers</p>
			</div>
		</div>
	</div>

</div>
