div.section{
	padding-left: 20px;
	font-weight: bold;
}
div.rule{
	padding-left: 20px;
	font-weight: normal;
	display: table-row;
}
div.rule div{
	padding-left: 9px;
	display: table-cell;
}
div.rule div.buttons{
	white-space: nowrap;
}