<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
 <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.2.0.205;Initial Catalog=ShariahStandards;User ID=ShariahStandardsUser;Password=0147kjhcyHGWf" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=LAMAAN2015;Initial Catalog=ShariahStandards;User ID=ShariahStandardsApiUser;Password=ShariahStandardsApiUser" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=LAMAAN2015;Initial Catalog=ShariahStandardsLive;User ID=ShariahStandardsApiUser;Password=ShariahStandardsApiUser" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
