<div class="section">{{section.sectionNumber}} {{section.title}}
	<span *ngIf="allowEdit">
		 <button (click)="onClickAdd(section)">+ Section</button>
	</span> 
	<!-- <div *ngIf="section.subSections.length>0" > -->
	    <div class *ngFor="let subSection of section.subSections" [id]="subSection.uniqueName">
	        <sub-section (addSection)="onClickAdd($event)" [section]="subSection" [sub-sections]="subSection.subSections" [allow-edit]="allowEdit"></sub-section>
	    </div>
	<!-- </div> -->
</div>