<div *ngIf="rootOrganisation!=null">
  <h2>
    Standards 
  </h2>
 <!--  <pre>
    {{expandedSections|json}}

  </pre> -->
  <p *ngIf="rootOrganisation.member==null && auth.authenticated()">
  	To use the shurah tools, please agree to the following rules:
  </p>
   <div *ngIf="rootOrganisation.ruleSections.length==0">
    <p>No rules have been set for this organisation</p>
  </div>
  <p *ngIf="rootOrganisation.member==null && auth.authenticated() && !hideButtons">
    I agree to hold to the rules of this organisation and to become a member.
    <button (click)="join()"> Join </button>
  </p>

  <span *ngIf="auth.authenticated() && allow('EditMembershipRules')">
      <button (click)="openModalToAddMembershipRuleSection(addSectionModal)" title="add top level membership rule section">&sect;*</button>
  </span>
  <div>
    <div class="section" *ngFor="let section of rootOrganisation.ruleSections" [id]="section.uniqueName">
      <membership-rule-section 
      (cutSection)="cutSection($event)"
      (deleteSection)="deleteSection($event)"
      (addSection)="openModalToAddMembershipRuleSection(addSectionModal,$event)" 
      (pasteInto)="pasteIntoSection($event)"
      (updateSection)="openModalToUpdateMembershipRuleSection(updateSectionModal,$event)"
      (createRuleInSection)="openModalToCreateRuleInSection(addMembershipRuleModal,$event)"
      (cutRuleOut)="cutRule($event)"
      (pasteRuleIn)="pasteRule($event)"
      (onDeleteRule)="deleteRule($event)"
      (onUpdateRule)="openModalToUpdateMembershipRule(updateMembershipRuleModal,$event)"
      [section]="section" 
      [sub-sections]="section.subSections" 
      [routed-section]="routedSection" 
      [expanded-sections]="expandedSections" 
      [allow-edit]="auth.authenticated() && allow('EditMembershipRules')"
      [enable-paste]="sectionToDrop!=null"
      (onSectionExpanded)="setActiveSection($event)"
      [enable-paste-rule]="ruleToDrop!=null">
      </membership-rule-section>
    </div>
  </div>
 
</div>
<div *ngIf="auth.authenticated() && rootOrganisation && rootOrganisation.member!=null">
  <a [routerLink]="'/suggestions'">Add and View Suggestions</a>
</div>
<div class="card">
  <p *ngIf="rootOrganisation && rootOrganisation.member!=null && auth.authenticated() && !hideButtons">

    I no longer agree to hold to the rules of this organisation and want to stop being a member.
    <button (click)="leave()"> Leave </button>
  </p>
  </div>

<template #addSectionModal let-c="close" let-d="dismiss">
   <form>
      <div class="modal-header">
        <div class="modal-title">Add Membership Rules Section
        <span *ngIf="addMembershipRuleSectionModel.parentSection!=null">
          within "{{addMembershipRuleSectionModel.parentSection.title}}"
        </span>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label for="sectionName">Section Name</label>
          <input type="text" [(ngModel)]="addMembershipRuleSectionModel.name" required maxlength="100" id="sectionName" name="name">
          <div>
            Url Id: {{addMembershipRuleSectionModel.urlSlug()}}
          </div>
        <ul>
          <li class="error" *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="beginAddRuleSection()">Add</button>

        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      </div>
    </form>

</template>

<template #updateSectionModal let-c="close" let-d="dismiss">
  <form>
    <div class="modal-header">
      <div class="modal-title">Edit Membership Rules Section
      <span *ngIf="updateMembershipRuleSectionModel.membershipRuleSectionModel.parentSection!=null">
        within "{{updateMembershipRuleSectionModel.membershipRuleSectionModel.parentSection.title}}"
      </span>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="sectionName">Section Name</label>
      <input type="text" [(ngModel)]="updateMembershipRuleSectionModel.membershipRuleSectionModel.title" required maxlength="100" id="sectionName" name="name">
      <div>
        Url Id: {{updateMembershipRuleSectionModel.urlSlug()}}
      </div>
    <ul>
      <li class="error" *ngFor="let error of errors">
        {{error}}
      </li>
    </ul>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="beginUpdateMembershipRuleSection()">Update</button>

      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </form>

</template>

<template #addMembershipRuleModal let-c="close" let-d="dismiss">
   <form>
      <div class="modal-header">
        <div class="modal-title">Add Membership Rule
          within "{{addMembershipRuleModel.section.title}}"
        </div>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label for="ruleStatement">Rule</label>
          <textarea rows="2" required maxlength="1000"  id="ruleStatement" name="ruleStatement"
           col="100" [(ngModel)]="addMembershipRuleModel.ruleStatement">
          </textarea>
        <ul>
          <li class="error" *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="addRule()">Add Rule</button>

        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      </div>
    </form>

</template>

<template #updateMembershipRuleModal let-c="close" let-d="dismiss">
   <form>
      <div class="modal-header">
        <div class="modal-title">Update Membership Rule</div>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label for="ruleStatement">Rule</label>
          <textarea rows="2" required maxlength="1000"  id="ruleStatement" name="ruleStatement"
           col="100" [(ngModel)]="updateMembershipRuleModel.membershipRuleModel.ruleStatement">
          </textarea>
        <ul>
          <li class="error" *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="updateRule()">Update</button>

        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      </div>
    </form>

</template>
