 <h1  class="pull-left"><img title="logo" src="/content/images/logo.svg" width="100px">ShariahStandards.org</h1><span class="tagline">Developing a global open standard interpretation of Islamic law in English</span>
 <div class="clearfix"></div>
  <nav>
    <a [routerLink]="['']">Prayer Times and Direction</a>
    <a [routerLink]="['/standards']">Standards</a>
    <a [routerLink]="['/terms']">Terminology</a>
    <a [routerLink]="['/about-us']">About Us</a>
  </nav>
  <router-outlet></router-outlet>
