<h2>Qur'an Search</h2>

<div class="row">
	<div class="col-xs-3">
		<div class="form-group">
			<select class="form-control" (ngModelChange)="searchTypeChanged()" [(ngModel)]="searchType">
				<option *ngFor="let searchType of searchTypes" [ngValue]="searchType">{{searchType.text}}</option>
			</select>
		</div>
	</div>
	<div class="col-xs-9" *ngIf="(searchType.code=='ref')">
		<div class="row">
			<div class="col-xs-6">
				<select class="form-control" (ngModelChange)="surahChanged($event)" 
				[(ngModel)]="selectedSurah">
					<option *ngFor="let surah of surahsForSelection" [ngValue]="surah">{{surah.number}} - {{surah.englishName}} - {{surah.arabicName}}</option>
				</select>
				<select class="form-control" (ngModelChange)="verseChanged($event)" 
				[(ngModel)]="selectedVerseNumber">
					<option *ngFor="let verse of verseSelectionItems" [ngValue]="verse">{{verse}}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-xs-10" *ngIf="(searchType.code=='eng')">
		<div class="form-group">
			<input class="form-control" type="text" placeholder=" type search phrase in english " [(ngModel)]="searchText" ><br/>
			<button class="btn btn-primary" type="button" (click)="gotoSearch()">Search</button>
		</div>
	</div>
</div>
<br/>
<div *ngIf="searchType.code=='ref' && selectedSurah!=null">
		<div>Surah {{selectedSurah.englishName}} - {{selectedSurah.arabicName}}</div>
		<div>Verse {{selectedVerseNumber}}</div>
		<div *ngIf="selectedVerseResult!=null">
			<div class="row">
				<div class="col-md-6">
					<blockquote class="arabic-large">
						{{selectedVerseResult.text}}
					</blockquote> 
				</div>
				<div class="col-md-6">
					<blockquote>
						{{selectedVerseResult.englishTranslation}}
					</blockquote> 
				</div>
			</div>
		</div>
</div>
<div *ngIf="searchType.code=='eng'">

	<div *ngIf="!searchResults.hasResults && searchResults.hasSearched">
		<p>No results</p>
	</div>

	<div *ngIf="searchResults.hasResults">
		<div *ngIf="searchResults.singleVerse">
			<div class="row">
				<div class="col-md-6">
					<blockquote class="arabic-large">
						{{searchResults.singleVerse.text}}
					</blockquote> 
				</div>
				<div class="col-md-6">
					<blockquote>
						{{searchResults.singleVerse.englishTranslation}}
					</blockquote> 
				</div>
			</div>
		</div>
		<div *ngIf="!searchResults.singleVerse">
			<h4>Search Results</h4>
			<!-- <select [(ngModel)]="selectedReference" (ngModelChange)="showSelectedVerse($event)" class="form-control">
				<option *ngFor="let result of searchResults.results" [ngValue]="result">{{result}}</option>
			</select> -->

			<br/>
			<div class="row" *ngFor="let result of searchResults.results">
				<div class="col-md-12">
					  <a routerLinkActive="active-route"
					  [routerLink]="'/quran/surah/'+result.surah+'/verse/'+result.verse">
					  	{{result.surah}}:{{result.verse}}
					  </a>
  
				</div>
			</div>
		</div>
	</div>
</div>
