<h2>Qur'an Search</h2>

<div class="row">
	<div class="col-xs-5">
		<label>Surah</label>
		<select class="form-control" (ngModelChange)="gotoSurah($event)" 
			[(ngModel)]="selectedSurah">
			<option *ngFor="let surah of surahsForSelection" [ngValue]="surah">{{surah.number}} - {{surah.englishName}} - {{surah.arabicName}}</option>
		</select>
			
	</div>
	<div class="col-xs-2">
		<label>Verse</label>
		<select class="form-control" (ngModelChange)="gotoVerse($event)" 
			[(ngModel)]="selectedVerseNumber">
			<option *ngFor="let verse of verseSelectionItems" [ngValue]="verse">{{verse}}</option>
		</select>
	</div>
	<div class="col-xs-3">
		<label>Search text</label>
		<div class="form-group">
			<input class="form-control" type="text" placeholder=" type search phrase in english "
			 [(ngModel)]="searchText"
			 (keyup)="searchTextChanged()" ><br/>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="form-group">
			<button class="btn btn-primary"  [disabled]="searchText.length<3" type="button" (click)="gotoSearch()">Search</button>
		</div>
	</div>
</div>

<div *ngIf="searchResults.hasSearched">
	<h4>Search Results</h4>
	<div *ngIf="!searchResults.hasResults">
		<p>No results</p>
	</div>
	<div *ngIf="searchResults.hasResults">
		<ul class="list-inline">
			<li  *ngFor="let result of searchResults.results">
				<a routerLinkActive="active-route"
				[routerLink]="'/quran/surah/' + result.surah + '/verse/' + result.verse + '/' + result.searchText">
					{{result.surah}}:{{result.verse}}
				</a>
			</li>
		</ul>
	</div>
</div>
<div *ngIf="selectedSurah!=null">

	<div>Surah {{selectedSurah.englishName}} - {{selectedSurah.arabicName}}</div>
	<div>Verse {{selectedVerseNumber}}</div>
	<div *ngIf="selectedVerseResult!=null">
		<div class="row">
			<div class="col-md-6">
				<blockquote class="arabic-large">
					{{selectedVerseResult.text}}
				</blockquote> 
			</div>
			<div class="col-md-6">
				<blockquote>
					<span *ngFor="let part of selectedVerseResult.englishTranslation" [ngClass]="{highlight:part.highlight}">{{part.text}}</span>
				</blockquote> 
			</div>
		</div>
	</div>
</div>
