.vote div{
	float:left;
	height:20px;
}

.vote .for{
	background-color: #00aa00
}
.vote .against{
	background-color: #aa0000
}
.vote .abstaining{
	background-color: #00aaaa
}
.voting{
	background-color: #aaaa00;
	height:20px;
	clear: both;
}
.suggestion-vote-with-pie-chart{
	display: table;
	height: 50px
}
.suggestion-vote-with-pie-chart > div 
{
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
}
pie-chart{
	display: inline-block;
}
.comment-author{
	font-weight: bold;
}
.clickable{
	cursor: pointer;
}
.smaller{
	font-size: 0.5em;
}