<app-shurah-navigation [organisation-id]="organisationId"></app-shurah-navigation>

<h2>Terminology</h2>

<div *ngIf="termDefinitionModel!=null">
	<dl>
		<dt>
			{{termDefinitionModel.term}} 
			<span *ngIf=" auth.isAuthenticated() && allow('EditMembershipRules')">
				<button class="btn btn-default" (click)="openModalToUpdateTermDefinition(updateTermDefinitionModal,termDefinitionModel)">Edit</button>
				<button  class="btn btn-danger" (click)="deleteTerm(termDefinitionModel.id)">Delete</button>
			</span>
		</dt>
		<dd>
			<span *ngFor="let fragment of termDefinitionModel.definition">
				<span *ngIf="fragment.isPlainText">{{fragment.text}}</span>
				<span *ngIf="fragment.isTerm">
					<term [term-id]="fragment.termId" [term]="fragment.text" [organisation-id]="organisationId">{{fragment.text}}</term>
				</span>
				<span *ngIf="fragment.quranReference!=null">
					<a routerLinkActive="active-route" [routerLink]="'/quran/surah/'+fragment.quranReference.surah+'/verse/'+fragment.quranReference.verse">
						{{fragment.quranReference.surah}}:{{fragment.quranReference.verse}}
					</a>
				</span>
			</span>
		</dd>
	</dl>
</div>
<span *ngIf=" auth.isAuthenticated() && allow('EditMembershipRules')">
	<button (click)="openModalToAddTermDefinition(addTermDefinitionModal)" title="add top level membership rule section">Add new term</button>
</span>
<div class="container" *ngIf="termList!=null">
	<ul>
		<li *ngFor="let term of termList.terms">
			 <a [routerLink]="'/terms/'+organisationId+'/'+term.termId+'/'+term.term">{{term.term}}</a>
		</li>
	</ul>
</div>
<ng-template #addTermDefinitionModal let-c="close" let-d="dismiss">
   <form>
      <div class="modal-header">
        <div class="modal-title">Add Term Definition</div>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
        	<label for="term">Term</label>
          	<input class="form-control" required maxlength="100" id="term" name="term" type="text" [(ngModel)]="addTermDefinitionModel.term"/>
		</div>
		<div class="form-group">
        	<label for="definition">Definition</label>
	        <textarea class="form-control" rows="2" required maxlength="1000"  id="definition" name="definition"
	           col="100" [(ngModel)]="addTermDefinitionModel.definition">
	        </textarea>
	    </div>
        <ul>
          <li class="error" *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="addTermDefinition()">Add Term Definition</button>

        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      </div>
    </form>

</ng-template>

<ng-template #updateTermDefinitionModal let-c="close" let-d="dismiss">
   <form>
      <div class="modal-header">
        <div class="modal-title">Update Term Definition</div>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
        	<label for="term">Term</label>
          	<input class="form-control" required maxlength="100" id="term" name="term" type="text" [(ngModel)]="updateTermDefinitionModel.term"/>
		</div>
		<div class="form-group">
        	<label for="definition">Definition</label>
	        <textarea class="form-control" rows="2" required maxlength="1000"  id="definition" name="definition"
	           col="100" [(ngModel)]="updateTermDefinitionModel.definition">
	        </textarea>
	    </div>
	    <input type="hidden" name="termId" [(ngModel)]="termId"/>
        <ul>
          <li class="error" *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="updateTermDefinition()">Update</button>

        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      </div>
    </form>

</ng-template>