body{
	font-family: helvetica;
}


/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
@media (min-width:992px){
		.tagline{
		display: inline-block;
	    padding-left: 30px;
	    margin-top: 55px;
	}
}
@media (max-width:991px){
	.tagline{
	display: inline-block;
    padding-left: 5px;
}