<br/>
<h2>
  ShariahStandards.org Terms and Conditions
</h2>

<ul>
	<ol>
		<li>
			Reliability - Although we endeavour to keep this service running as much as possible, there may be reasons outside of our control and occasional maintenance that is needed on the site during which the site may not function fully. Being aware of this you cannot hold us liable for any failure to provide the services of this website at all times.
		</li>
		<li>
			Confidentiality - Our privacy policy is detailed <a [routerLink]="'/privacy'">here</a>
  		</li>
  		<li>
  			Variablility - Our terms and conditions may change occasionally, please check back here to see the current terms. These terms and conditions were last changed on 21st April 2018.
  		</li>
		<li>
			Ownership - This site is currently privately owned by Mr Lamaan Ball and any queries about it can be directed to him at lamaanball+shariahstandards(at)gmail.com
		</li>
	</ol>
</ul>
